{% extends 'base_etudiant.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Mon Tableau de Bord" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/etudiant/dashboard_etudiant.css' %}">

<h2>Mon Tableau de Bord (Étudiant): {{etudiant.matricule}}   {{etudiant.last_name}}   {{etudiant.first_name}} </h2>
<p>Ecole : {{etudiant.ecole}}</p>

{% if messages %}
    {% for message in messages %}
        <div class="alert-message">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="registration-box">
    <h3>S'inscrire à une nouvelle matière</h3>
    <p>Collez le lien d'inscription reçu de votre professeur :</p>
    
    <form action="{% url 'traiter_lien_inscription' %}" method="POST" class="registration-form">
        {% csrf_token %}
        <input type="text" name="lien_complet" placeholder="Ex: http://127.0.0.1:8000/student/inscrire-matiere/1/" 
               class="registration-input" required>
        <button type="submit" class="btn-subscribe">
            S'inscrire
        </button>
    </form>
</div>

<h3>Mes Matières</h3>
<table class="dashboard-table">
    <thead>
        <tr class="table-header">
            <th class="table-cell">Matière</th>
            <th class="table-cell">Présences</th>
            <th class="table-cell">Absences</th>
            <th class="table-cell">Taux d'assiduité</th>
            <th class="table-cell">Appel (Entrez le code)</th>
        </tr>
    </thead>
    <tbody>
    {% for ins in inscriptions %}
    <tr>
        <td class="table-cell">{{ ins.matiere.nom }}</td>
        <td class="table-cell">{{ ins.nb_presences }}</td>
        <td class="table-cell text-red">{{ ins.nb_abscences }}</td>
        <td class="table-cell">
            <strong>{{ ins.taux_presence }} %</strong>
        </td>
        
        <td colspan="2" class="table-cell text-center">
            {% with appel=ins.matiere.a_un_appel_actif %}
                {% if appel %}
                    <div class="active-call-box">
                        <span class="active-call-title">
                             APPEL EN COURS !
                        </span>
                        <div class="timer-wrapper">
                            Temps : <span class="timer" data-seconds="{{ appel.secondes_restantes }}">--:--</span>
                        </div>
                        <form id="form-valider-{{ appel.id }}" action="{% url 'valider_presence' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="feuille_id" value="{{ appel.id }}">
                            <input type="hidden" name="lat_etudiant" id="lat-{{ appel.id }}">
                            <input type="hidden" name="lon_etudiant" id="lon-{{ appel.id }}">
                            <input type="text" name="code_saisi" placeholder="Code" required maxlength="6" class="code-input">
                            <button type="button" class="btn-validate" data-appel-id="{{ appel.id }}">
                                Valider
                            </button>
                        </form>
                    </div>
                {% else %}
                    <span class="no-call-text">Aucun appel en cours</span>
                {% endif %}
            {% endwith %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6" class="empty-row">Tu n'es inscrit à aucune matière pour le moment.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/etudiant/dashboard_etudiant.js' %}"></script>
{% endblock %}